{% extends 'base.html' %}


{% block content  %}
    <div class="container">
        <div class="p-4 m-4">
            <div class="col-lg-5 mx-auto border rounded pt-4">
                <center>
                <h3 class="alert alert-light"><i class="fa fa-check-circle fa-lg  text-info " aria-hidden="true"></i></h3>
                <h4>Thanks for shopping</h4>
                <h5>Your order has been sucessfully placed</h5>
                <a href="/orders" class="btn btn-info">Go to orders</a>
                <br><br>
            </center>
            </div>
        </div>
    </div>
{% endblock %}