{% extends 'base.html' %}


{% block content  %}
    <div class="container">
        <div class="p-4 m-4">
            <div class="col-lg-5 mx-auto border rounded pt-4">
                <center>
                <h3 class="alert alert-light"><i class="fa fa-times-circle fa-lg  text-danger " aria-hidden="true"></i></h3>
                <h4>Transaction failed</h4>
                <h5>You will receive refund in next 2 to 3 working days</h5>
                <a href="/orders" class="btn btn-info">Go to orders</a>
                <br><br>
            </center>
            </div>
        </div>
    </div>
{% endblock %}