{% extends 'base.html' %}


{% block content  %}
    <div class="container">
        <div class="p-4 m-4">
            <div class="col-lg-5 mx-auto border rounded pt-4">
                <h3 class="alert alert-light" style="margin-left:100px;"> Password Reset </h3>
                <form action="/password_reset_request/" method="post">
                    {% csrf_token %}
                    {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                      <strong>{{error_message}}</strong>
                    </div>
                    {% endif %}

                    <div class="form-group">
                      <label for="">Email</label>
                      <input type="email" name="email" id="" class="form-control  form-control-sm" placeholder="abc@gmail.com">
                    </div>

                   <div class="form-group">
                    <input type="submit" value="Request OTP" class="btn btn-dm  btn-info col-lg-4" style="margin-left:120px;">
                   </div>   
                </form>
            </div>
        </div>
    </div>
{% endblock %}