{% extends 'base.html' %}


{% block content  %}
    <div class="container">
        <div class="p-4 m-4">
            <div class="col-lg-5 mx-auto border rounded pt-3">
                <h3 class="alert alert-light" style="margin-left:80px;"> Password Reset</h3>
                <form action="/password_reset_form/" method="post">
                    {% csrf_token %}
                    {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                      <strong>{{error_message}}</strong>
                    </div>
                    {% endif %}

                    <div class="form-group">
                      <label for="">OTP</label>
                      <input type="text" name="otp" id="" class="form-control  form-control-sm">
                    </div>

                    <div class="form-group">
                        <label for="">New Password</label>
                        <input type="Password" name="ps1" id="" class="form-control form-control-sm" placeholder="***********">
                        <label for="">Confirm Password</label>
                        <input type="Password" name="ps2" id="" class="form-control form-control-sm" placeholder="***********">
                      </div>

                   <div class="form-group">
                    <input type="submit" value="Change Password" class="btn btn-info col-lg-4 center" style="margin-left:120px;">
                   </div>   
                </form>
            </div>
        </div>
    </div>
{% endblock %}